{% extends "base.html" %}
{% block extend_css %}
<link rel="stylesheet" href="{{ STATIC_PATH }}/css/plugins/dataTables/dataTables.bootstrap.css">
<link href="{{ STATIC_PATH }}/js/plugins/validform/validform.css" rel="stylesheet">
{% endblock %}
{% block title%}{{ page_name }}{% endblock%}

{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget-box float-e-margins">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-bars"></i></span>
                        <h4>{{ page_name }}</h4>
                        <!--<div class="ibox-tools">-->
                            <!--<a class="collapse-link">-->
                                <!--<i class="fa fa-chevron-up"></i>-->
                            <!--</a>-->
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">-->
                                <!--<i class="fa fa-wrench"></i>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu dropdown-user">-->
                                <!--<li><a href="table_data_tables.html#">选项1</a>-->
                                <!--</li>-->
                                <!--<li><a href="table_data_tables.html#">选项2</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<a class="close-link">-->
                                <!--<i class="fa fa-times"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                    <div class="widget-content">
                        <form class="form-horizontal m-t" action="/backstage_menu_add/" method="post" id="commentForm" novalidate="novalidate">
                            {% csrf_token %}
                            <input type="hidden" value="{{ data.id }}" name="menu_id" id="menu_id">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">菜单名：</label>
                                <div class="col-sm-6">
                                    <input id="name" name="name" value="{{ data.name }}" datatype="s2-200" nullmsg="请输入菜单名" errormsg="昵称至少2个字符" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">菜单栏目：</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="pid" id="pid">
                                        <option value="">一级菜单</option>
                                        {% for first in menus %}
                                            <option value="{{ first.id }}" {% ifequal data.pid first.id %} selected {% endifequal %}>&nbsp;&nbsp;{{ first.name }}</option>
                                            {% for second in first.submenus %}
                                                {% ifequal first.id second.pid %}
                                                    <option value="{{ second.id }}" {% ifequal data.pid second.id %} selected {% endifequal %} >&nbsp;&nbsp;&nbsp;&nbsp;{{ second.name }}</option>
                                                {% endifequal %}
                                            {% endfor %}
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">地址url：</label>
                                <div class="col-sm-6">
                                    <input id="menu_url" type="menu_url" value="{{ data.url }}" datatype="*" nullmsg="请输入地址url" class="form-control" name="menu_url" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">排序：</label>
                                <div class="col-sm-6">
                                    <input id="sort" type="text" datatype="n" value="{{ data.sort }}" errormsg="排序只能是整数" class="form-control" value="0" name="sort">
                                </div>
                            </div>
                            <!---->
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-3 control-label">说明：</label>-->
                                <!--<div class="col-sm-8">-->
                                    <!--<textarea id="ccomment" name="comment" class="form-control" ></textarea>-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary" id="btnSubmit" type="submit">提交</button>
                                    <button class="btn btn-default" type="button">取消</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block extend_js %}
<script src="{{ STATIC_PATH }}/js/plugins/validform/validform_v5.3.2_min.js"></script>
<script src="{{ STATIC_PATH }}/js/ajax_submit.js"></script>
<script>

</script>
{% endblock %}