{% extends "base.html" %}
{% block extend_css %}
<link rel="stylesheet" href="{{ STATIC_PATH }}/css/plugins/dataTables/dataTables.bootstrap.css">
<style>
    .table th{text-align: left;}
</style>
{% endblock %}
{% block title%}{{ page_name }}{% endblock%}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget-box float-e-margins">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-bars"></i></span>
                        <h4>{{ page_name }}</h4>
                        <!--<div class="ibox-tools">-->
                            <!--<a class="collapse-link">-->
                                <!--<i class="fa fa-chevron-up"></i>-->
                            <!--</a>-->
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">-->
                                <!--<i class="fa fa-wrench"></i>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu dropdown-user">-->
                                <!--<li><a href="table_data_tables.html#">选项1</a>-->
                                <!--</li>-->
                                <!--<li><a href="table_data_tables.html#">选项2</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<a class="close-link">-->
                                <!--<i class="fa fa-times"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                    <div class="widget-content">
                        <div class="pull-left">
                            <form class="form-inline">
                                {% include 'per_item.html' %}
                                <div class="form-group">
                                    <label for="keyword">关键字</label>
                                    <input type="text" class="form-control" id="keyword" placeholder="菜单名/地址">
                                </div>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </form>
                        </div>
                        <div class="pull-right">
                            <a href="/backstage/menu_add" class="btn btn-info">添加</a>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <!--<th>ID</th>-->
                                    <th>菜单名</th>
                                    <th width="50%">地址</th>
                                    <th>菜单级别</th>
                                    <th>创建时间</th>
                                    <th width="8%">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr class="gradeX">
                                    <!--<td>{{ item.id}}</td>-->
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.url }}</td>
                                    <td><span class="label label-info">一级菜单</span></td>
                                    <td class="center">{{ item.create_time|date:' Y-m-d H:i:s'}}</td>
                                    <td class="center">
                                        <a href="/backstage/menu_info/{{ item.id }}" class="btn btn-info btn-xs">编辑</a>
                                        <a href="/backstage/menu_delete/id/{{ item.id }}" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                                    {% for second in item.submenus %}
                                        {% ifequal second.pid item.id %}
                                            <tr class="gradeX">
                                                <!--<td>{{ second.id}}</td>-->
                                                <td><p style="margin-left: 15px;">{{ second.name }}</p></td>
                                                <td>{{ second.url }}</td>
                                                <td><span class="label label-success">二级菜单</span></td>
                                                <td class="center">{{ second.create_time|date:' Y-m-d H:i:s'}}</td>
                                                <td class="center">
                                                    <a href="/backstage/menu_info/{{ second.id }}" class="btn btn-info btn-xs">编辑</a>
                                                    <a href="/backstage/menu_delete/id/{{ second.id }}" class="btn btn-danger btn-xs">删除</a>
                                                </td>
                                            </tr>
                                        {% endifequal %}
                                        {% for third in second.thirdMenus %}
                                            {% ifequal third.pid second.id %}
                                            <tr class="gradeX">
                                                <!--<td>{{ third.id}}</td>-->
                                                <td><p style="margin-left: 30px;">{{ third.name }}</p></td>
                                                <td>{{ third.url }}</td>
                                                <td><span class="label label-warning">三级菜单</span></td>
                                                <td class="center">{{ third.create_time|date:' Y-m-d H:i:s'}}</td>
                                                <td class="center">
                                                    <a href="/backstage/menu_info/{{ third.id }}" class="btn btn-info btn-xs">编辑</a>
                                                    <a href="/backstage/menu_delete/id/{{ third.id }}" class="btn btn-danger btn-xs">删除</a>
                                                </td>
                                            </tr>
                                            {% endifequal %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <!--<nav aria-label="Page navigation" class="pages">-->
                            <!--<ul class="pagination pagination-sm">-->
                                <!--{{ pagestring|safe }}-->
                            <!--</ul>-->
                        <!--</nav>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block extend_js %}
<script>
    $(document).ready(function(){

    });
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
{% endblock %}