{% extends "base.html" %}
{% block extend_css %}
<link rel="stylesheet" href="{{ STATIC_PATH }}/css/plugins/dataTables/dataTables.bootstrap.css">

{% endblock %}
{% block title%}{{ page_name }}{% endblock%}
{% block content %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="widget-box float-e-margins">
                    <div class="widget-title">
                        <span class="icon"><i class="fa fa-bars"></i></span>
                        <h4>{{ page_name }}</h4>
                        <!--<div class="ibox-tools">-->
                            <!--<a class="collapse-link">-->
                                <!--<i class="fa fa-chevron-up"></i>-->
                            <!--</a>-->
                            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="table_data_tables.html#">-->
                                <!--<i class="fa fa-wrench"></i>-->
                            <!--</a>-->
                            <!--<ul class="dropdown-menu dropdown-user">-->
                                <!--<li><a href="table_data_tables.html#">选项1</a>-->
                                <!--</li>-->
                                <!--<li><a href="table_data_tables.html#">选项2</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                            <!--<a class="close-link">-->
                                <!--<i class="fa fa-times"></i>-->
                            <!--</a>-->
                        <!--</div>-->
                    </div>
                    <div class="widget-content">
                        <div style="float:left">
                            <form class="form-inline" action="/backstage/role" method="GET">
                                {% include 'per_item.html' %}
                                <div class="form-group">
                                    <label for="keyword">关键字</label>
                                    <input type="text" class="form-control" id="keyword" name="keyword" value="{{ request.GET.keyword}}" placeholder="角色名">
                                </div>
                                <button type="button" class="btn btn-primary" id="searchData">Search</button>
                            </form>
                        </div>
                         <div class="pull-right">
                            <a href="/backstage/role_add" class="btn btn-info">添加</a>
                        </div>
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>角色名</th>
                                    <th>角色类型</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vo in lists %}
                                <tr class="gradeX">
                                    <td>{{ vo.id }}</td>
                                    <td>{{ vo.name }}</td>
                                    <td>
                                        {% for key,value in roleType.items %}
                                            {% ifequal vo.type key %}
                                                {{ value }}
                                            {% endifequal %}
                                        {% endfor %}
                                    </td>
                                    <td class="center">{{ vo.create_time|date:' Y-m-d H:i:s' }}</td>
                                    <td class="center">
                                         <a href="/backstage/role_edit/{{ vo.id }}" class="btn btn-info btn-xs">编辑</a>
                                                    <a href="/backstage/role_delete/id/{{ vo.id }}" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation" class="pages">
                            <ul class="pagination pagination-sm">
                                {{ pageString|safe }}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block extend_js %}
<script>
    $(document).ready(function(){
            //搜索
            $('#searchData').click(function(e){
                var kw = $('#keyword').val();
                location.search = $.query.set('keyword',kw);
            });
    });
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
{% endblock %}