{% extends "base.html" %}
{% block extend_css %}
<link rel="stylesheet" href="{{ STATIC_PATH }}/css/login_style.css?">

{% endblock %}
{% block title%}登录{% endblock%}
{% block content %}
<img id="logo" src="{{ STATIC_PATH }}/images/logo.png">
<div class="row content">
    <div class="record-list pull-left login_left animated fadeInDown">
        <div class="control-group normal_text">
            <h4><span>我在牛逼的1号生活-创业</span></h4>
        </div>
        <div class="padding">
            <ol class="box-list">
                <li>我们的愿景：500米生活电商第1品牌</li>
                <li>我们的使命：推动中小门店连接移动互联网</li>
                <li>我们的价值观：客户第一/团队合作/诚信敬业/没有借口</li>
            </ol>
        </div>
    </div>
    <div class="middle-box text-center loginscreen  animated fadeInDown pull-right">
        <div class="">
            <div>
                <h4 class="logo-name">账号密码登录</h4>

            </div>
            <h5></h5>
            <div class="form-css">
                <form class="m-t" role="form" action="/login_ajax_check/" method="post">
                <div class="form-group">
                    {% csrf_token %}
                    <input type="text" name="username" id="username" class="form-control" placeholder="用户名/手机号" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="密码" required="">
                </div>
                <div class="form-group">
                    <input type="text" id="verify_code" name="verifyCode" class="form-control verify_code" placeholder="验证码" required=""><img src="/verify_code/?1" id="imgCode"/>
                </div>
                <button type="button" class="btn btn-primary block full-width m-b" id="loginBtn">登 录</button>

                <p class="text-muted text-center"> <a href="login.html#"><small>忘记密码了？</small></a> | <a href="{% url 'register' %}">注册一个新账号</a>
                </p>

            </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block extend_js %}
<script>
    $(function(){
        //刷新验证码
        $('#imgCode').css('cursor','pointer').click(function (e) {
            $('#imgCode').attr('src', $('#imgCode').attr('src') + 1)
        });

        //登录
        $('#loginBtn').click(function(){
            $('username').reset;


            csrf = $('input').val();
            username = $('#username').val();
            password = $('#password').val();
            vcode = $('#verify_code').val();
            if(!username){
                layer.msg('请输入用户名',{icon:2});
                return false;
            }
            if(!password){
                layer.msg('请输入密码',{icon:2});
                return false;
            }
            if(!vcode){
                layer.msg('请输入验证码',{icon:2});
                return false;
            }
            $.post('/login_ajax_check/',{
                'csrfmiddlewaretoken':csrf,
                'username':username,
                'password':password,
                'verifyCode':vcode,
            },function(data){
                if(data.msg==='ok'){
                    location.href = '/index/';//跳转到成功页面
                }else{
                    $('#imgCode').attr('src', $('#imgCode').attr('src') + 1)
                    layer.msg(data.msg,{icon:2});
                }
            });
        });
    });

</script>
{% endblock %}
