
<a onclick="javascrip:location.reload(true)" class="btn btn-success ">刷新</a>

<select style="width:126px;" class="form-control" name="per_item_select" id="page_size" onchange="window.location.search=jQuery.query.set('page_size',$(this).val()).set('page',1)">
    <option value="10">每页10条</option>
    <option value="20">每页20条</option>
    <option value="50">每页50条</option>
    <option value="100">每页100条</option>
    <option value="150">每页150条</option>
    <option value="300">每页300条</option>
    <option value="500">每页500条</option>
    <option value="800">每页800条</option>
    <option value="1000">每页1000条</option>
</select>
